:root{
    --primary-color: #ffbc1a;
    --secondary-color: #181615;
    --light-color: #cfc5bb;
    scroll-behavior: smooth;
    
 }

 .no-pointer a{
     pointer-events: none;
     
 }

 .method-top{
    background-image: url(./images/JPEG/arc-triomphe.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 5;
}

.method-top::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index:2;
    background-color: rgba(24, 22, 21, 0.6);
    
}

 /* BLACK BLOCK ON HOVER NAV*/

 .menu ul a::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: -5;
    background: var(--secondary-color);
    display: block;
    transform: translateX(-150px) scaleX(0);
    transition: transform 0.4s ease;
    opacity: 0;
}

.menu ul a:hover::before{
    transform: translateX(0px) scaleX(1);
    opacity: 1;
}


.menu a{
    position: relative;
    text-decoration: none;
    display: flex;
    color: var(--secondary-color);
    align-items: center;
    height: 50px;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-left: 30px;
    padding: 20px;
    font-weight: 500;
}

.menu a:hover{
    color: var(--primary-color);
    transition: 1s ease;
}


.active a{
    color: var(--primary-color);
}


 /*ANCHOR OFFSET*/

 #branding::before{
    display: block; 
    content: ""; 
    margin-top: 20px; 
    height: 10px; 
    visibility: hidden; 
    pointer-events: none;
}

#time-machine::before{
    display: block; 
    content: ""; 
    margin-top: 20px; 
    height: 10px; 
    visibility: hidden; 
    pointer-events: none;
}

#time-machine,
#branding{
    padding-top: 50px;
}


 @font-face{
    font-family: 'Chomsky';
    src: url(/Chomsky.woff) format('woff');
 }

 .method-home{
     font-family: 'Chomsky';
     text-align: center;
     font-weight: 400;
     font-size: 8rem;
     color:var(--primary-color);
 }
 
 .method-top{
     
     height: 100vh;
     z-index: 5;
 }
 
 .method-top::before{
     content: '';
     position: absolute;
     height: 100vh;
     width: 100%;
     z-index:2;
    
 }

#products{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; */
    display: flex;
    flex-direction: column;
    margin: 50px auto 0px auto;
    width: 80vw;
    color: var(--secondary-color);
}

.product-text h4{
    display: block;
    margin-bottom: 5px;
}

.product-text{
    /* background-color: var(--primary-color); */
    padding: 2rem 0;
    width: 80vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}


.product-script{
    flex-basis:50%;
    max-width: 50%;
}

.wrapper{
    height: 100%;
}

.method-big-title,
.method-big-title2{
    display: block;
    margin: 40px 10vw 20px 10vw;
    width: 80vw;
}


.method-big-title img{
    max-width: 500px;
}

.method-big-title2 img{
    max-width: 320px;
}

.step{
    max-width: 50%;
    flex-basis:50%;
}

.step h1{
    font-size: 5rem;
    font-weight: 200;
    font-stretch: condensed;
    padding-bottom: 15px;
}

.method-text{
    max-width: 80vw;
}

.method-text p{
    
    height: 100%;
    width: 100%;
}

.method-text ul{
    list-style: none;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}

.method-text h3{
    font-size: 1.6rem;
    line-height: 2.125rem;
    font-weight: 600;
}

.vignettes{
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;
    margin: 50px 0;
}

.vignette-1,
.vignette-2,
.vignette-3{
    background-color: var(--primary-color);
    /* padding: 2rem; */
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.vignette-title{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
}

.icon-1{
    background-image: url(/images/JPEG/welcome.svg);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-position: center;
    height: 300px;
}
.icon-2{
    background-image: url(/images/JPEG/vetruvian.svg);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-position: center;
    height: 300px;
}
.icon-3{
    background-image: url(/images/JPEG/icon3-tm.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}


.vignettes h3{
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 700;
}


@media (max-width: 1070px){

    #products{
        display: flex;
        flex-direction: column;
    }

    .vignettes{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .vignette-1,
    .vignette-2,
    .vignette-3{
       
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
}

}


 @media (min-width: 320px) and (max-width: 1070px){

    .ctr{
        margin: 80px 10vw;
        max-width: 130ch;
    }

    .ctr2{
        margin: 150px 10vw 20px 10vw;
        max-width: 130ch;
    }

    .ctr3{
        margin: 50px 10vw;
        max-width: 130ch;
    }
    }

 @media (min-width: 568px) and (max-width: 780px){
 .method-home{
     font-size: 6rem;
 }
 .title-home{
    left: 5vw;
    right: 5vw;
}
 }

 @media (min-width: 320px) and (max-width: 568px){
 .method-home{
     font-size: 4rem;
 }

 .title-home{
     left: 5vw;
     right: 5vw;
 }
 }


 