:root{
    --primary-color: #ffbc1a;
    --secondary-color: #282522;
    --light-color: #cfc5bb;
    scroll-behavior: smooth;
    
 }

 .no-pointer a{
     pointer-events: none;
     
 }

 @font-face{
    font-family: 'Chomsky';
    src: url(/Chomsky.woff) format('woff');
 }

 .method-home{
     font-family: 'Chomsky';
     text-align: center;
     font-weight: 400;
     font-size: 8rem;
 }
 
 .method-top{
     /* background-image: url(./images/my-life-through-a-lens-bq31L0jQAjU-unsplash.jpg);
     background-position: center;
     background-size: cover; */
     height: 100vh;
     z-index: 5;
 }
 
 .method-top::before{
     content: '';
     position: absolute;
     height: 100vh;
     width: 100%;
     z-index:2;
     /* background-color: rgba(255, 188, 26, 0.8); */
 }

 .method-intro {
    margin: 100px 10vw;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80vw;
    height: auto;
}

.method-title{
    margin-right: 50px;
    max-width: 80ch;
}

.method-text{
    max-width: 130ch;
}

.card-flip1{
     
    background-color: var(--primary-color);
    width: auto;
    height: 800px;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
    color: black;
}



.card-photo1,
.card-photo2,
.card-photo3{
    
    height: inherit;
    width: 100%;
    
}

.card-photo1 img{
    
    height: 65%;
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    transition: 0.4s ease-in-out;
}

.card-photo2 img{
    
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    transition: 0.4s ease-in-out;
}

.card-photo3 img{
    
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    transition: 0.4s ease-in-out;
}

.stylescape-title{
    position: absolute;
    width: max-content;
    top: 0;
    padding-top: 0px;
    z-index: 15;
    left: 50%;
    transform: translateX(-50%);
}

.no-mg a{
    margin-top: 30px;
    margin-left: 0px;
}

.card-flip1:hover .menu a{
    color: var(--primary-color);
    transition: 1s ease;
}

.card-flip1:hover .menu a::before{
    transform: translateX(0px) scaleX(1);
    opacity: 1;
}

.card-text{
    opacity: 0;
    left: 0;
    margin-top: 240px;
    padding: 0px 30px;
    transition: 0.4s ease-in-out;
}

.card-flip1:hover .card-text{
    transform: translateY(-70%) ;
    opacity: 1;
}

.card-flip1:hover .card-photo1 img,
.card-flip1:hover .card-photo2 img,
.card-flip1:hover .card-photo3 img{
    height: 50%;
}




@media (min-width: 320px) and (max-width: 1264px){

    .method-intro {
        flex-direction: column;
    }

    .card-text{
        opacity: 1;
        margin-top: 150px;
    }

    .card-photo1 img,
    .card-photo2 img,
    .card-photo3 img{
        height: 50%;
    }

    .active-title h3{
        padding: 20px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .card-flip1:hover .menu a::before{
       opacity: 0;
    }

    .card-flip1:hover .card-text{
        transform: translateY(0%) ;
        opacity: 1;
    }
    
}

@media (min-width: 651px) and (max-width: 1250px){
    
    .card-flip1 p{
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin-bottom: 20px;
        color: black;
    }

    .method-text p{
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

}


 @media (min-width: 320px) and (max-width: 1200px){

    .ctr{
        margin: 120px 10vw;
        max-width: 150ch;
    }

    .ctr2{
        margin: 150px 10vw 20px 10vw;
        max-width: 130ch;
    }
    }

 

 @media (min-width: 1265px) and (max-width: 1670px){
     .card-flip1 p{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 20px;
    color: black;
}

    .card-text{
        margin-top: 300px;
    }

    /* .method-text,
    .method-title{
        width: 50%;
        max-width: 100%;
    }
     */
    
    
    .method-text{
        width: 40%;
        max-width: 100%;
    }
    
    .method-title{
        width: 60%;
        max-width: 100%;
    }

 }
 @media (min-width: 501px) and (max-width: 780px){
 .method-home{
     font-size: 6rem;
 }
 }

 @media (min-width: 320px) and (max-width: 500px){
 .method-home{
     font-size: 4rem;
 }
 }



 @media (min-width: 1671px){
    .card-flip1 p{
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 30px;
 } 
 } 
 