:root{
    --primary-color: rgb(255, 188, 26);
    --secondary-color: #282522;
    --light-color: rgb(207, 197, 187);
    scroll-behavior: smooth;
 }

@media only screen and (max-width: 1070px) {

    #header-inactive{
   
    position: fixed;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;
    height: 15vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

.menu-flower img{
    height: 40px;
    width: 40px;
    transition: 0.8s ease;
    z-index: 500;
}

.logo-hide img{
    height: 80px;
}

.home-btn a{
    position: absolute;
    height: 100%;
    width: 100%;
}

.toggler{
   
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    z-index: 505;
    opacity: 0;
    cursor: pointer;
    margin-right: 10vw;
}

.menu-wrap{
    position: fixed;
    top: 0;
    right: -1150px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    flex: none;
    align-items: flex-start;
    justify-content: center;
    visibility: hidden;
    transition: all 0.3s ease;
    
}

.menu-wrap ul{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-top: 25vh;
    z-index: -20;
}

.menu-wrap ul li{
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    padding: 20px;
    left: 0;
    
}

.menu-wrap ul li a{
    color: white;
    transition: 0.4s ease; 
}

.menu-wrap ul li a:hover{
    color: var(--primary-color);
}

 #header-inactive .toggler:checked ~ .menu-wrap{
    visibility: visible;
    right: 0;
}


.toggler:checked + .menu-flower > img {
    transform: rotate(360deg);
}

.logo-inactive,
.logo-inactive-wrap{
   
    position: absolute;
    cursor: pointer;
    height: 80px;
    width: 80px;
}


.logo-hide{
    position: absolute;
    visibility: hidden;
    transition: 0.1s ease;
    
}

.logo-inactive-wrap::after{
    
    content: '' ;
    background-image: url(/images/logo-blk80.png) ;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    z-index: -30;
    
}

.menu-flower{
    width: 60px;
    height: 60px;
    right: 0;
    position: absolute;
    cursor: pointer;
    margin-right: 10vw;
}

.menu-flower::before{
    content: url(./images/fleur-bl.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;    
    transition: all 0.3s ease;
    
}

.menu-flower::after{
    content: url(./images/fleur-yl.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;    
    transition: all 0.3s ease;
    visibility: hidden;
    
}

.icons-menu{
    display: flex;
}

.toggler:checked + .menu-flower::before,
.toggler:checked + .menu-flower::after{
    transform: rotate(360deg);
    visibility: visible;
}

.toggler:checked ~ .logo-inactive-wrap > div{
    visibility: visible;
}

}

.nav-scrolled{
    background-color: white ;
    box-shadow: 0px 5px 15px var(--secondary-color);
    height: 12vh !important;
    padding-top: 10px !important;
    transition: 0.4s ease;
    
}

.nav-scrolled .logo-inactive-wrap::after,
.nav-scrolled .logo-hide,
.nav-scrolled .menu-flower::after,
.nav-scrolled .menu-flower::before{
    transform: scale(0.8);
}










