*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgba(255, 188, 26, 1);
    --secondary-color: #181615;
    --light-color: #cfc5bb;
 }

body{
    font-size: 62.5%;
    font-family: 'Georama', sans-serif;
}


.hero-service{
    background-image: url(/images/JPEG/mirador-a1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 5;
}

.hero-service::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index:2;
    background-color: rgba(24, 22, 21, 0.3);
}
 /* BLACK BLOCK ON HOVER NAV*/

 /* .menu ul a::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: -5;
    background: var(--secondary-color);
    display: block;
    transform: translateX(-150px) scaleX(0);
    transition: transform 0.4s ease;
    opacity: 0;
}

.menu ul a:hover::before{
    transform: translateX(0px) scaleX(1);
    opacity: 1;
}


.menu a{
    position: relative;
    text-decoration: none;
    display: flex;
    color: var(--secondary-color);
    align-items: center;
    height: 50px;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-left: 30px;
    padding: 20px;
    font-weight: 500;
}

.menu a:hover{
    color: var(--primary-color);
    transition: 1s ease;
}


.active a{
    color: var(--primary-color);
} */
.active-dark a {
    color: var(--secondary-color);
}


.container-srv{
    width: 100%;
}

.branding-workshop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.service-big-title{
    display: block;
    width: 100%;
    flex-basis: 50%;
    height: auto;
    padding: 3rem 10vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 15px;
}

.service-big-title img{
    max-width:400px;
    margin-bottom: 30px;
    
}

.t-m img{
    max-width: 350px;
}

.service-title-text{
    margin-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
}

.product-script li{
    padding: 5px 0px;
}



.service-title-text ul,
.ctr2 ul{
    list-style-image: url(/images/bigbulletxd.svg);
    padding: 10px 0px;
}

.ctr2 li {
    padding: 10px 0px;
}

@media (min-width: 320px) and (max-width: 920px){
    .branding-workshop{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .service-big-title{
        width: 100%;
        max-width: none;
    }

   .service-title-text,
   .product-text-baseline{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: none;
        text-align: left;
}

    .product-script{
        max-width: none;
    }


}

@media (max-width: 1070px){
        .hero-service{
        background-attachment: scroll;
    }
    }

@media (min-width: 320px) and (max-width: 520px){

    .service-big-title img {
        max-width: 250px;
       
    }
    }

