*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgba(255, 188, 26, 1);
    --secondary-color: #181615;
    --light-color: #cfc5bb;
 }

body{
    font-size: 62.5%;
    font-family: 'Georama', sans-serif;
}


a{
    text-decoration: none;
    color: inherit;
}

.active a{
    color: var(--primary-color);
} 

.active-dark a{
    color: var(--secondary-color);
} 

.current{
    
    color: var(--primary-color);
    width: 80%;
    height: 50px;
    background-color: var(--secondary-color);
   
}

.current-dark{
    
    color: var(--secondary-color);
    width: 80%;
    height: 50px;
    background-color: var(--primary-color);
  
}

.no-pointer{
    pointer-events: none;
}



.current-mobile{
    
    color: var(--primary-color) !important;
}


.ctr{
   width: 80vw;
   height: auto;
   margin: 80px 10vw;
   max-width: 120ch;
}

.ctr-std{
    width: 80vw;
    height: auto;
    margin: 40px 10vw;
}

.ctr4{
    margin: 40px 10vw;
    max-width: 130ch;
}


h2 {
    font-size: 2.2rem;
}

h3{
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 700;
}

h4{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
}

h5{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
}

p{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}

.xtra-mb-l{
    margin-bottom: 30px;
}

.xtra-mb-m{
    margin-bottom: 20px;
}

.xtra-mb-s{
margin-bottom: 10px;
}

.xtra-mt{
    margin-top: 20px;
}

.no-border{
    border-bottom: none !important;
}

.captions{
    font-size: 1rem;
    line-height: 1.2rem;
}

button{
    border: none;
    background: none;
    font-family: 'Georama', sans-serif;
}

.icon {
    background: url('/images/fleur-bl.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    display: inline-block;
}

.product-script button{
    margin-top: 30px;
}

.btn-light{

    height: auto;
    width: auto;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px 30px;
    background-color: var(--primary-color) ;
}

.btn-light:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: 0.4s ease;
}

.btn-dark{

    height: 100%;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--primary-color);
    transition: 0.3s ease;
}


.btncard{
    height: 200px;
    padding-top: 50px;
    width: 100%;
    background-color: var(--secondary-color);
}

.btncard-sm-light{
    height: 100px;
    font-size: 1.8rem;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.btncard a,
.btn-dark{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.btn-dark:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.product-text{
    /* background-color: var(--primary-color); */
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

.product-text-baseline{
    /* background-color: var(--primary-color); */
    padding: 5rem 0rem;
    display: flex;
    gap: 1.5rem;
    align-items: baseline;
    border-bottom: 2px solid var(--primary-color);
}

.product-text-pd-btm{
    /* background-color: var(--primary-color); */
    padding: 2.5rem 0rem 0rem 0rem;
    display: flex;
    gap: 1.5rem;
}

.product-script{
    flex-basis:50%;
    max-width: 50%;
}
.step{
    max-width: 50%;
    flex-basis:50%;
}

/* BLACK BLOCK ON HOVER NAV*/

 /* .menu ul a::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: -5;
    background: var(--secondary-color);
    display: block;
    transform: translateX(-150px) scaleX(0);
    transition: transform 0.4s ease;
    opacity: 0;
}

.menu ul a:hover::before{
    transform: translateX(0px) scaleX(1);
    opacity: 1;
}


.menu a{
    position: relative;
    text-decoration: none;
    display: flex;
    color: var(--secondary-color);
    align-items: center;
    height: 50px;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-left: 30px;
    padding: 20px;
    font-weight: 500;
}

.menu a:hover{
    color: var(--primary-color);
    transition: 1s ease;
}
*/



